@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}
/* scroller */
::-webkit-scrollbar {
  width: 11px;
}
/* The part of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  /* background: red; */
  border-radius: 10px; /* Round corners */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the thumb */
  border-radius: 10px; /* Round corners */
  border: 3px solid #f1f1f1; /* Space around the thumb */
}

/* Hover state for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #373636; /* Darker thumb on hover */
}
/* Thumb when active */
::-webkit-scrollbar-thumb:active {
  background-color: #0d0c0c; /* Darker color when the thumb is active */
}
